<div id="home" class="">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-title" href="/">just duet</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            <div class="float-right">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" id="creatorsBtn" href="/creators">Creators</a>
                        {{!-- PROFILE BUTTON DISABLED UNTIL LOGGED IN --}}
                        <a class="nav-item nav-link disabled" href="/profile">Profile</a>
                        <button type="button" class="help btn btn-primary" data-toggle="modal"
                            data-target="#loginModalScrollable" id="loginButton">Log In</button>
                        <button class="btn btn-primary d-none" id="logout">Log Out</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container" id="indexBody">
        <div class="row header">
            <h1 class="headerTitle">just duet</h1>
        </div>
        <!-- Search -->
        <div class="row">
            <div class="col-8 offset-2">
                {{!-- <h1>{{msg}}</h1> --}}
                {{!-- <h2>This is our Home Page!</h2> --}}
                <form class="clearfix mb-4" action="POST">
                    <div class="form-group">
                        {{!-- <label for="example-text">Example Text</label> --}}
                        <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
                            placeholder="Search">
                    </div>
                    <div class="dropdown">
                        <button class="srchType btn btn-secondary dropdown-toggle" type="button" id="dropdownSearch"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Search Type
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownSearch">
                            <a class="dropdown-item" href="#" id="ddArtist">Artist</a>
                            <a class="dropdown-item" href="#" id="ddTrack">Track</a>
                            <a class="dropdown-item" href="#" id="ddGenre">Genre</a>
                            <a class="dropdown-item" href="#" id="ddYear">Year</a>
                            <a class="dropdown-item" href="#" id="ddAlbum">Album</a>
                            <a class="dropdown-item" href="#" id="ddLyrics">Lyrics</a>
                        </div>
                        <button id="submit" class="submit btn btn-primary float-right" disabled>Submit</button>
                    </div>
                </form>
            </div>
            <div class="col-2 px-1">
                <button type="button" class="help btn btn-primary" id="help" data-toggle="modal"
                    data-target="#exampleModalScrollable">
                    ?
                </button>
                {{!-- HELP MODAL --}}
                <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalScrollableTitle">How this works</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p class="modalText">
                                    To search for a karaoke song first select what catagory you want to search
                                    through and then in the search bar enter what you are
                                    looking for. If you don't know what to look up don't worry! Scroll down just a
                                    bit and we have some suggestions of the top hits
                                    through the years.
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- SIGNUP MODAL --}}
                <div class="modal" id="signupModalScrollable" tabindex="-1" role="dialog"
                    aria-labelledby="loginleModalScrollableTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="signupModalScrollableTitle">Sign Up Form</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="signup">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" class="form-control" id="signup-email-input"
                                            placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Password</label>
                                        <input type="password" class="form-control" id="signup-password-input"
                                            placeholder="Password">
                                    </div>
                                    <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        <span class="sr-only">Error:</span> <span class="msg"></span>
                                    </div>
                                    <button type="submit" class="btn btn-secondary">Sign Up</button>
                                </form>
                                <br />
                                <br />
                                <p>Or log in <a href="#" data-dismiss="modal" id="modalLogin" data-toggle="modal"
                                        data-target="#loginModalScrollable">here</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- LOGIN MODAL --}}
                <div class="modal" id="loginModalScrollable" tabindex="-1" role="dialog"
                    aria-labelledby="loginleModalScrollableTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="loginModalScrollableTitle">Login Form</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="login">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" class="form-control" id="login-email-input"
                                            placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Password</label>
                                        <input type="password" class="form-control" id="login-password-input"
                                            placeholder="Password">
                                    </div>
                                    <button type="submit" class="btn btn-secondary">Login</button>
                                </form>
                                <br />
                                <p>Or sign up <a href="#" data-dismiss="modal" id="modalSignup" data-toggle="modal"
                                        data-target="#signupModalScrollable">here</a></p>
                                <a href="/auth/google">Sign In with Google</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- where the search results append to -->
        <div class="row">
            <div class="results col-md-10 offset-1">
                <!-- <div class="card-body">
                        <div class="row">
                            <div class="col-9">
                                <p id="trackArtist"></p>
                            </div>
                            <div class="col-3 heart">
                                <p class="heartBtn">♡</p>
                            </div>
                        </div>
                    </div>  -->
            </div>
        </div>

        <!-- Suggestions -->

        <div class='row suggestions mb-5'>
            <div class='col-md-10 offset-1'>
                <h1 class='suggestionsTitle'>suggestions</h1>
                <div class="accordion" id="accordionExample">

                    {{!-- HANDLEBARS ACCORDION --}}
                    {{#each topRecs}}
                        <div class="card">
                            <div class="card-header" id={{heading}}>
                                <h2 class="mb-0">
                                <button class="btn btn-block topTitle" type="button" data-toggle="collapse"
                                    data-target={{dataTarget}} aria-expanded="false" aria-controls={{id}}>
                                    {{name}}
                                </button>
                            </h2>
                        </div>
                        <div id={{id}} class="collapse" aria-labelledby={{heading}}
                            data-parent="#accordionExample">
                            <div class="card-body">
                                {{#each this.songs}}
                                    <div class="row topRow">
                                        <div class="col-9">
                                            <p class="song" value='{{this.full}}'>{{this.full}}</p>
                                        </div>
                                        <div class="col-3">
                                            <p class="heartBtn song" value='{{this.full}}'>♡</p>
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    {{/each}}

                    {{!-- classic accordion --}}
                    <div class="card">
                        <div class="card-header" id="headingNine">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                    Classic Karaoke Songs
                                </button>
                            </h2>
                        </div>
                        <div id="collapseNine" class="collapse" aria-labelledby="headingNine"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                Blah
                            </div>
                        </div>
                    </div>

                    {{!-- decades accordion --}}
                    <div class="card">
                        <div class="card-header" id="headingDec">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapseDec" aria-expanded="false" aria-controls="collapseDec">
                                    Top Hits Through the Decades
                                </button>
                            </h2>
                        </div>
                        <div id="collapseDec" class="collapse" aria-labelledby="headingDec"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <h3>The 2000's</h3>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">We Belong Together - Mariah Carey</p>
                                        {{!-- <a id="song">We Belong Together - Mariah Carey</a> --}}
                                    </div>
                                    <div class="col-3 heart">
                                        <p class="heartBtn" value="We-Belong-Together">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Yeah! - Usher feat. Lil Jon & Ludacris</p>
                                        {{!-- <a id="song">Yeah! - Usher feat. Lil Jon & Ludacris</a> --}}
                                    </div>
                                    <div class="col-3 heart">
                                        <p class="heartBtn" value="Yeah!">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Low - Flo Rida feat T-Pain</p>
                                    </div>
                                    <div class="col-3 heart">
                                        <p class="heartBtn" value="Low">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">I Gotta Feeling - The Black Eyed Peas</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="I-Gotta-Feeling">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">How You Remind Me - Nickelback</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="How-You-Remind-Me">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">No One - Alicia Keys</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="No-One">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Boom Boom Pow - The Black Eyed Peas</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="Boom-Boom-Pow">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Let Me Love You - Mario</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="Let-Me-Love-You">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Gold Digger - Kenye West feat. Jamie Foxx</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="Gold-Digger">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Apologize - Timberland feat. OneRepublic</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="Apologize">♡</p>
                                    </div>
                                </div>

                                <h3>The 90's</h3>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Smooth - Santana feat. Rob Thomas</p>
                                    </div>
                                    <div class="col-3 heart">
                                        <p class="heartBtn" value="Smooth">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">How Do I Live - LeAnn Rimes</p>
                                    </div>
                                    <div class="col-3 heart">
                                        <p class="heartBtn" value="How Do I Live">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Macarena (Bayside Boys Mix) - Los Del Rio</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="Macarena (Bayside Boys Mix)">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Un-Break My Heart - Toni Braxton</p>
                                    </div>
                                    <div class="col-3 heart">
                                        <p class="heartBtn" value="Un-Break My Heart">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">You Were Meant For Me - Jewel</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="You Were Meant For Me">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">(Everything I Do) I Do It For You - Bryan Adams</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="I Do It For You">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">I'll Make Love To You - Boyz II Men</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="I'll Make Love To You">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Too Close - Next</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="Too Close">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">One Sweet Day - Mariah Carey & Boyz II Men</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="One Sweet Day">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Truly Madly Deeply - Savage Garden</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="Truly Madly Deeply">♡</p>
                                    </div>
                                </div>

                                <h3>The 80's</h3>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Physical - Olivia Newton-John</p>
                                    </div>
                                    <div class="col-3 heart">
                                        <p class="heartBtn" value="Physical">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Bette Davis Eyes - Kim Carnes</p>
                                    </div>
                                    <div class="col-3 heart">
                                        <p class="heartBtn" value="Bette Daivs Eyes">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Endless Love - Diana Ross & Lionel Richie</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="Endless Love">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Eye Of The Tiger - Survivor</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="Eye Of The Tiger">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Every Breath You Take - The Police</p>
                                    </div>
                                    <div class="col-3 heart">
                                        <p class="heartBtn" value="Every Breath You Take">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Flashdance What A Feeling - Irene Cara</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="Flashdance What A Feeling">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Another One Bites The Dust - Queen</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="Another One Bites The Dust">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Say Say Say - Paul McCartney & Michael Jacksong</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="Say Say Say">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Call Me - Blondie</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="Call Me">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Lady - Kenny Rogers</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="Lady">♡</p>
                                    </div>
                                </div>

                                <h3>The 70's</h3>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Wonderful Tonight - Eric Clapton</p>
                                    </div>
                                    <div class="col-3 heart">
                                        <p class="heartBtn" value="Wonderful Tonight">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">YMCA - Village People</p>
                                    </div>
                                    <div class="col-3 heart">
                                        <p class="heartBtn" value="YMCA">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Sweet Home Alabama - Lynyrd Skynyrd</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="Sweet Home Alabama">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">We Are Family = Sister Sledge</p>
                                    </div>
                                    <div class="col-3 heart">
                                        <p class="heartBtn" value="We Are Family">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Old Time Rock & Roll - Bob Seger & The Silver Bullet Band</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="Old Time Rock & Roll">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Don't Stop 'Til You Get Enough - Michael Jackson</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="Don't Stop 'Til You Get Enough'">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Dancing Queen - ABBA</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="Dancing Queen">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Brick House - Commodores</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="Brick House">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Play That Funky Music - Wild Cherry</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="Play That Funky Music">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">How Sweet It Is (To Be Loved By You) - James Taylor</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="How Sweet It Is (To Be Loved By You)">♡</p>
                                    </div>
                                </div>

                                <h3>The 60's</h3>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Sweet Caroline (Good Times Never Seemed So Good) - Neil Diamond
                                        </p>
                                    </div>
                                    <div class="col-3 heart">
                                        <p class="heartBtn" value="Smooth">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Shout - Otis Day And The Knights/Isley Brothers</p>
                                    </div>
                                    <div class="col-3 heart">
                                        <p class="heartBtn" value="Shout">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Brown Eyed Girl - Van Morrison</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="Brown Eyed Girl">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">The Way You Look Tonight - Frank Sinatra</p>
                                    </div>
                                    <div class="col-3 heart">
                                        <p class="heartBtn" value="The Way You Look Tonight">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Twist And Shout - Beatles</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="Twist And Shout">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">At Last - Etta James</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="At Last">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">What A Wonderful World - Louis Armstrong</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="What A Wonderful World">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">My Girl - Temptations</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="Too Close">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Can't Help Falling In Love - Elvis Presley With The Jordanaires
                                        </p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="Can't Help Falling In Love">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">The Twist - Chubby Checker</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="The Twist">♡</p>
                                    </div>
                                </div>
                                <h3>The 50's</h3>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">That's Amore - Dean Martin</p>
                                    </div>
                                    <div class="col-3 heart">
                                        <p class="heartBtn" value="That's Amore">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Come Fly With Me - Frank Sinatra</p>
                                    </div>
                                    <div class="col-3 heart">
                                        <p class="heartBtn" value="Come Fly With Me">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Jailhouse Rock - Elvis Presley</p>
                                    </div>
                                    <div class="col-3 heart">
                                        <p class="heartBtn" value="Jailhouse Rock">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">I Walk The Line - Johnny Cash</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="I Walk The Line">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">I've Got You Under My Skin - Frank Sinatra</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="I've Got You Under My Skin">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">In the Mood - Glenn Miller</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="In the Mood">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">All Shook Up - Elvis Presley</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="All Shook Up">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">La Bamba - Ritchie Valens</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="La Bamba">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">You Make Me Feel So Young - Frank Sinatra</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="You Make Me Feel So Young">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Great Balls Of Fire - Jerry Lee Lewis</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="Great Balls Of Fire">♡</p>
                                    </div>
                                </div>

                                <h3>The 40's</h3>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">White Christmas - Bing Crosby</p>
                                    </div>
                                    <div class="col-3 heart">
                                        <p class="heartBtn" value="White Christmas">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">The Christmas Song - Nat "King" Cole</p>
                                    </div>
                                    <div class="col-3 heart">
                                        <p class="heartBtn" value="The Christmas Song">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">God Bless The Child - Billie Holiday</p>
                                    </div>
                                    <div class="col-3 heart">
                                        <p class="heartBtn" value="God Bless The Child">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Take The "A" Train - Duke Ellington</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="Take The 'A' Train">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Star Dust - Artie Shaw</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="Star Dust">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Swinging On A Star - Bing Crosby</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="Swinging On A Star">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">You Always Hurt The One You Love - Mills Brothers</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="You Always Hurt The One You Love">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Boogie Woogie Bugle Boy - Andrews Sisters</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="Boogie Woogie Bugle Boy">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Chattanooga Choo Choo - Glenn Miller</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="Chattanooga Choo Choo">♡</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <p class="song">Paper Doll - Mills Brothers</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="heartBtn" value="Paper Doll">♡</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>