<div id="profilePage">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container d-flex justify-content-between">
            <a class="navbar-title" href="/">just duet</a>
            <div class="d-flex align-items-center">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="float-right">
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav ml-4">
                            <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                            <a class="nav-item nav-link" id="creatorsBtn" href="/creators">Creators</a>
                            <a class="nav-item nav-link" id="mapsBtn" href="/maps">Local Karaoke</a>

                            {{!-- PROFILE BUTTON DISABLED UNTIL LOGGED IN --}}
                            <a class="nav-item nav-link active" href="/profile">Profile</a>
                            <button type="button" class="help btn btn-primary d-none" data-toggle="modal"
                                data-target="#loginModalScrollable" id="loginButton">Log In</button>
                            <button class="btn btn-primary" id="logout">Log Out</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row my-3">
            <div class="col-8">
                <h1 class="profileHeader">favorite songs</h1>
                <h4 class="profileSort">sort your saved songs</h4>
            </div>
            <div class="col-4">
                <h4><a href="#" id="googleLink"><i class="fas fa-map-marked-alt"></i> Find Local Karaoke Bars! <i class="fas fa-map-marked-alt"></i></a></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{!-- add nav-justified to ul class for even spacing --}}
                <ul class="nav nav-tabs mb-1" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="artist-tab" data-toggle="tab" href="#artist" role="tab"
                            aria-controls="artist" aria-selected="true">artist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="track-tab" data-toggle="tab" href="#track" role="tab"
                            aria-controls="track" aria-selected="false">track</a>
                    </li>
                    {{!-- <li class="nav-item">
                        <a class="nav-link" id="genre-tab" data-toggle="tab" href="#genre" role="tab"
                            aria-controls="genre" aria-selected="false">genre</a>
                    </li> --}}
                    <li class="nav-item">
                        <a class="nav-link" id="year-tab" data-toggle="tab" href="#year" role="tab" aria-controls="year"
                            aria-selected="false">year</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="album-tab" data-toggle="tab" href="#album" role="tab"
                            aria-controls="album" aria-selected="false">album</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="artist" role="tabpanel" aria-labelledby="artist-tab">
                        {{#each dbResults}}
                        <div class="row topRow">
                            <div class="col-6">
                                <p class="song" value='{{title}} - {{artist}}'>{{artist}} - {{title}}</p>
                            </div>
                            <div class="col-3">
                                <p class="heartBtn" value='{{title}} - {{artist}}'><i class="fas fa-heart"></i></p>
                            </div>
                            <div class="col-3">
                                {{{rating}}}
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="tab-pane fade" id="track" role="tabpanel" aria-labelledby="track-tab">
                        {{#each dbResults}}
                        <div class="row topRow">
                            <div class="col-6">
                                <p class="song" value='{{title}} - {{artist}}'>{{title}} - {{artist}}</p>
                            </div>
                            <div class="col-3">
                                <p class="heartBtn" value='{{title}} - {{artist}}'><i class="fas fa-heart"></i></p>
                            </div>
                            <div class="col-3">
                                {{{rating}}}
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="tab-pane fade" id="genre" role="tabpanel" aria-labelledby="genre-tab">
                        {{#each dbResults}}
                        <div class="row topRow">
                            <div class="col-6">
                                <p class="song" value='{{title}} - {{artist}}'>{{year}}: {{artist}} - {{title}}</p>
                            </div>
                            <div class="col-3">
                                <p class="heartBtn" value='{{title}} - {{artist}}'><i class="fas fa-heart"></i></p>
                            </div>
                            <div class="col-3">
                                {{{rating}}}
                            </div>
                        </div>
                        {{/each}}

                    </div>
                    <div class="tab-pane fade" id="year" role="tabpanel" aria-labelledby="year-tab">
                        {{#each dbResults}}
                        <div class="row topRow">
                            <div class="col-6">
                                <p class="song" value='{{title}} - {{artist}}'>{{year}}: {{artist}} - {{title}}</p>
                            </div>
                            <div class="col-3">
                                <p class="heartBtn" value='{{title}} - {{artist}}'><i class="fas fa-heart"></i></p>
                            </div>
                            <div class="col-3">
                                {{{rating}}}
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="tab-pane fade" id="album" role="tabpanel" aria-labelledby="album-tab">
                        {{#each dbResults}}
                        <div class="row topRow">
                            <div class="col-6">
                                <p class="song" value='{{title}} - {{artist}}'>{{album}}: {{artist}} - {{title}}</p>
                            </div>
                            <div class="col-3">
                                <p class="heartBtn" value='{{title}} - {{artist}}'><i class="fas fa-heart"></i></p>
                            </div>
                            <div class="col-3">
                                {{{rating}}}
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>